*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Hanssens’ Customs for Ruby
*.log

# .idea folder - only ignore the following two
workspace.xml
tasks.xml

# Mac crap
.DS_Store
source/.idea/workspace.xml
